nav {
    width: 100%;
    height: 48.5px;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    background-color: #474A46;
}

.gradient_shadow {
    position: absolute;
    top: 56.5px;
    width: 100%;
    height: 6px;
    background: radial-gradient(50% 0, rgba(0,0,0,.5), transparent 70%);
    background: -webkit-radial-gradient(50% 0, rgba(0,0,0,.5), transparent 70%);
    background: -webkit-gradient(50% 0, rgba(0,0,0,.5), transparent 70%);
    background: -moz-radial-gradient(50% 0, rgba(0,0,0,.5), transparent 70%);
    background: -o-radial-gradient(50% 0, rgba(0,0,0,.5), transparent 70%);
    background-size: 100% 6px;
    background-repeat: no-repeat;
}

.first_dropmenu, .sec_dropmenu {
    float: left;
    height: 48.5px;
    overflow: hidden;
    transition: height 0.2s ease-out;
}

.first_dropmenu {
    width: 130px;
}

.sec_dropmenu {
    transition: height 0.3s ease-in;
}

.li_item {
    width: 130px;
    transition: width 0.1s ease-in;
    transition-delay: 0.2s;
}

.first_dropmenu:hover, .sec_dropmenu:hover {
    height: 240px;
}

.sec_dropmenu:hover .li_item {
    width: 180px;
}

.first_dropmenu a, .sec_dropmenu a {
    text-decoration: none;
    color: white;
    display: block;
    height: 48.5px;
    line-height: 48.5px;
    text-align: center;
    padding: 0 15px;
    background-color: #474A46;
    background-position: 50% 0;
    font-size: 0.95em;
}

.first_dropmenu a:hover, .sec_dropmenu a:hover {
    transition: background 0.1s linear, color 0.1s linear, font-weight 0.3s ease-in;
    background: radial-gradient(50% 0, rgba(0,0,0,.5), transparent 70%), radial-gradient(50% 0, rgba(0,0,0,.5), transparent 70%), #3BD1AB;
    background: -webkit-radial-gradient(50% 0, rgba(0,0,0,.5), transparent 70%), -webkit-radial-gradient(50% 0, rgba(0,0,0,.5), transparent 70%), #3BD1AB;
    background: -webkit-gradient(50% 0, rgba(0,0,0,.5), transparent 70%), -webkit-gradient(50% 0, rgba(0,0,0,.5), transparent 70%), #3BD1AB;
    background: -moz-radial-gradient(50% 0, rgba(0,0,0,.5), transparent 70%), -moz-radial-gradient(50% 0, rgba(0,0,0,.5), transparent 70%), #3BD1AB;
    background: -o-radial-gradient(50% 0, rgba(0,0,0,.5), transparent 70%), -o-radial-gradient(50% 0, rgba(0,0,0,.5), transparent 70%), #3BD1AB;
    background-size: 55% 6px, 100% 6px, cover;
    background-position: 50% 75%, 0 0, 0 0;
    background-repeat: no-repeat;
    color: #474A46;
    font-weight: bold;
}